[submodule "Assignmen2"]
	path = Assignmen2
url=https://github.com/Madx-com/BDSAE21As2
[submodule "Assignment 3"]
	path = Assignment 3
url=https://github.com/surtshow/Assignment_3.git
[submodule "NaaForkAs1"]
	path = NaaForkAs1
url=https://github.itu.dk/naaa/Assignment1.git
[submodule "Assignment1"]
	path = Assignment1
	url = https://github.itu.dk/BDSA2021/Assignment1.git
[submodule "Assignment4"]
	path = Assignment4
	url = https://github.com/AntonFriis/BDSA2021-Assignment4.git
